<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.js"
      integrity="sha512-pmaEGtUAy7E5gRmwjLqQAD/QWw0dL4Z59b6b+2HQkqQwQ+HcPLLb9/KbUNo5zr10WuXmbivK9nYVZOyDkMgZMg=="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
      integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.3/vue.global.min.js"
      integrity="sha512-m6zZpdEJSyoi3DfgRI7gMHV0ma2ZR46RX9TLGcboSvyQ2yRoXYW87uVjP3Q0atWKCcrDewdVkSWKiZ9i03bHkQ=="
      crossorigin="anonymous"
    ></script>

    <script src="./index.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1H9G64X804"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1H9G64X804");
    </script>
  </head>
  <body>
    <div
      id="app"
      class="grid grid-rows-[7fr_3fr] lg:grid-rows-1 lg:grid-cols-2 w-full h-screen"
    >
      <main
        style="grid-template-rows: max-content"
        class="pt-4 bg-purple-200 bg-white h-full w-full space-y-8 max-w-lg mx-auto grid place-items-center"
      >
        <nav>
          <a href="/index.html">Home</a> |
          <a href="/videoList.html">Video List</a>
        </nav>
        <div class="h-full flex flex-col">
          <div class="grid grid-cols-[auto,1fr] max-w-fit max-h-[800px] h-full">
            <div class="w-16 bg-gray-200">
              <button class="btn btn-info w-full" @click="genRandom()">
                gen
              </button>

              <label for="fileBg" class="btn btn-info w-full">+</label>
              <input
                @change="onFileChange"
                id="fileBg"
                type="file"
                class="hidden"
              />

              <button class="btn btn-info" @click="openModal()">open</button>
            </div>

            <div
              id="mainPhone"
              class="h-full bg-purple-50 overflow-y-auto rounded-[3rem] ring-4 md:ring-8 ring-slate-800 max-h-[729px] self-center mx-2"
              @click="onMainClick"
            ></div>
          </div>

          <button class="btn btn-primary w-full" @click="onSnedClick">
            send
          </button>
        </div>
      </main>

      <div class="bg-gray-50 overflow-y-scroll">
        <div
          class="custom-grid"
          v-for="(ment, key, idx) in mentList"
          :key="idx"
        >
          <div class="left-panel">
            <div class="sticky-section">
              <h3>{{ment.title}}</h3>
              <p>{{ment.desc}}</p>
            </div>
          </div>

          <div class="right-panel">
            <div class="ment-box">
              <div class="ment-content">
                <textarea
                  id="cat11"
                  rows="5"
                  placeholder="ment!"
                  class="ment-input"
                  :value="ment.mentArr.join('\n')"
                  @input="ment.mentArr = $event.target.value.split('\n')"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="isLoading"
        class="bg-gray-50 w-full absolute inset-0 opacity-50 grid place-items-center"
      >
        <span class="loading loading-infinity loading-lg"></span>
      </div>

      <a
        href="https://github.com/JongHyeonSong"
        target="_blank"
        class="absolute bottom-0 right-0 bg-white rounded-tl-lg shadow px-4 py-1 font-medium text-sm text-gray-500 hover:animate-bounce transition"
      >
        Made by 팻냥
      </a>

      <dialog id="percent_modal">
        percent :
        <p id="percent_val"></p>
      </dialog>
      <dialog id="my_modal" class="modal" @close="closeModal()">
        <div class="modal-box">
          <form method="dialog">
            <button
              class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            >
              ✕
            </button>
          </form>

          <button class="btn btn-sm btn-primary" @click="downloadVideo()">
            download!!
          </button>
          <!-- <p class="py-4">Press ESC key or click outside to close</p> -->
          <video
            id="my_video"
            src="/default_petnyang.mp4"
            class="w-full"
            controls
          ></video>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
  </body>
</html>
